{{ include( 'header.twig' ) }}

  <div class="inner">
    <div class="header">
        <h1>{{ meta.title }}</h1>
        {% if meta.subtitle %}
          <h2>{{ meta.subtitle }}</h2>
        {% endif %}
    </div>
    {% if meta.image %}
    <div class="meta-image">
      <img src="{{ base_url }}/assets/images/{{ meta.image }}"/>
    </div>
    {% endif %}
    <div class="content">
    {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
      <span class="meta-time">{{ meta.time | date( 'j' ) }} {{ mnths[meta.time|date("n")] }}  {{ meta.time | date( 'Y' ) }}</span>
      {{ content }}
    </div>
  </div>

{{ include( 'footer.twig' ) }}
